TZ=Asia/Shanghai
REGPILOT_HOST=0.0.0.0
REGPILOT_PORT=8766
PYTHON_IMAGE=docker.1ms.run/library/python:3.12-slim
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
PIP_TRUSTED_HOST=pypi.tuna.tsinghua.edu.cn
